<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="styles/style.css">
		{% endblock %}
	</head>
	<body>
		<nav>
			{% for item in navigation %}	
				<li><a href="{{item.getHref()}}">{{item.getName()}}</a></li>
			{% endfor %}
		</nav>
		<div class="container">
			{% for contentblock in contentblocks %}
				<article>
					<h1>{{contentblock.getName()}}</h1>
					<p>{{contentblock.getContent()}}</p>
				</article>
				</section>
			{% endfor %}
		</div>
	</body>
	{% for script in scripts %}
		<script>
			{{script}}
		</script>
	{% endfor %}
</html>
